/* Global Styles */
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; /* Ensures padding and borders are included in the element's total width and height */
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures the body and html take up the full height */
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container takes up at least the full height of the viewport */
}

.main-content {
  padding: 10px;
  margin-top: 60px; /* Adjust based on the height of the fixed navbar */
}

main {
  flex: 1; /* Makes the main content area grow to fill the remaining space */
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333333;
  overflow: auto;
  z-index: 1000; /* Ensures the navbar stays on top of other content */
}

.nav-bar-left {
  padding: auto;
  margin: auto;
  width: fit-content;
  float: inline-start;
  text-align: left;
}

.menu {
  width: fit-content;
  float: inline-end;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex; /* Ensures the menu items are displayed horizontally */
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

@media (max-width: 328px) {
  .nav-bar {
    flex-direction: column;
  }
}

/* Gallery */

.gallery {
  display: flex;
  width: 100%;
  overflow: auto;
}

.gallery-image {
  padding: 5px;
  width: fit-content;
  margin: auto; /* Centers the images in the gallery */
}

@media (max-width: 768px) {
  .gallery {
    flex-direction: column;
  }
}

/* Blog */

.article img {
  max-width: 100%;
}

@media (max-width: 620px) {
  .article img {
    width: 100%;
  }
}

/* Contact */

/* Footer */

.footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  margin-top: auto; /* Pushes the footer to the bottom */
}
