* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; /* Add this to ensure padding and borders are included in the element's total width and height */
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the body and html take up the full height */
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes up at least the full height of the viewport */
}

.main-content {
  padding: 5px;
}

main {
  flex: 1; /* Make the main content area grow to fill the remaining space */
}

.nav-bar {
  display: flex;
  width: 100%;
  background-color: #333333;
  overflow: auto;
}

.nav-bar-left {
  padding: auto;
  margin: auto;
  width: fit-content;
  float: inline-start;
  text-align: left;
}

.menu {
  width: fit-content;
  float: inline-end;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

@media (max-width: 328px) {
  .nav-bar {
    flex-direction: column;
  }
}

/* Gallery */

.gallery {
  display: flex;
  width: 100%;
  overflow: auto;
}

.gallery-image {
  padding: 5px;
  width: fit-content;
  float: center;
}

@media (max-width: 768px) {
  .gallery {
    flex-direction: column;
  }
}

/* Blog */

.article img {
  max-width: 100%;
}

@media (max-width: 620px) {
  .article img {
    width: 100%;
  }
}

/* Contact */

/* Footer */

.footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}
